*{
    margin: 0;
    padding: 0;
}
.home {
    height: 52rem;
    width: 100vw;
    background-color:red;
    min-height: 52rem;
}

.home-2 {
    height: 100vh;
    width: 100vw;
    background-color:blue;
}

#particles-js{
    height: 100vh;
    background-size:cover;
    position: relative;
    background-position: bottom;
    background-attachment: fixed;
    z-index: -100;
    min-height: 100vh;
    background-color:black;
}
.textwrapper{
    color: white;
}