/**{
    margin: 0;
    padding: 0;
}
.home {
    height: 52rem;
    width: 100vw;
    background-color:red;
    min-height: 52rem;
}

.home-2 {
    height: 100vh;
    width: 100vw;
    background-color:blue;
}

#particles-js{
    height: 100vh;
    background-size:cover;
    position: relative;
    background-position: bottom;
    background-attachment: fixed;
    z-index: -100;
    min-height: 100vh;
    background-color:black;
}
.textwrapper{
    color: white;
}*/
* {
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  font-family: Courier, monospace;
  font-style: normal;
  font-weight: 100;
  color: #202020;
  font-smoothing: antialiased;
}

/*body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}*/
#particles-js {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/image1.jpg");
  background-size: cover;
  height: 52rem;
  width: 100vw;
}
.typing {
  font-size: 50px;
}
/*.typing::after{
    content: "";
    position: absolute;
    right: -5px;
    width: 1px;
    height: 5%;
    border-right: 2px solid white;
    animation: blink 0.5s infinite ease;
}
@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
*/
.myName {
  color: rebeccapurple;
}

.btn {
  color: #fff;
  text-decoration: none;
  border: #ccc 1px solid;
  padding: 10px 15px;
  border-radius: 8px;
  line-height: 4em;
}
.btn:hover {
  color: purple;
  border: #fff 1px solid;
}

.btext {
  color: #f9f3f4;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
  line-height: 3em;
}
.home-2 {
  height: 100vh;
  width: 100vw;
  background-color: blue;
}
/*

.btext h1 {
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
*/

/*contact section*/

.container {
  padding-top: 14vh;
  height: 22rem;
  width: 100vw;

  text-align: center;
  top: 40%;
  width: 100%;
  line-height: 3em;
}
a {
  text-decoration: none;
  color: inherit;
}

h1 a {
  position: relative;
  display: block;
  overflow: hidden;
  width: 1em;
  height: 1em;
  margin: 0 auto;
  background-color: #303132;
  font-size: 3em;
  line-height: 3em;
  color: transparent;
  border-radius: 50%;
  border: 0em solid purple;
}

h1 a:hover,
h1 a:focus {
  background-color: purple;
}
h1 a:active {
  transform: scale(0.8);
}

h1 em {
  position: absolute;
  display: block;
  top: 0.5em;
  left: 0.4375em;
  font-size: 0.5em;
  line-height: 1em;
  color: #fff;
}

h1 em:last-child {
  top: 0.5em;
  left: 1em;
}

h2 {
  display: block;
  height: 1.5em;
  margin: 1.5em 0;
  color: #606060;
  line-height: 1.25em;
}

hr {
  position: relative;
  width: 4em;
  height: 1px;
  background: #202020;
  margin: 1em auto;
}
.slogan {
  position: relative;
  display: block;
  overflow: hidden;
  width: 8em;
  height: 1.25em;
  margin: 1em auto;
  font-size: 2em;
  line-height: 1.5em;
  box-sizing: content-box;
  align-content: center;
}

.slogan span {
  display: block;
  width: 8em;
}

.contact {
  position: relative;
  width: 20em;
  margin: -1em auto 1.5em auto;
}

.contact a {
  display: inline-block;
  overflow: hidden;
  width: 2em;
  line-height: 2em;
  margin: 0 0.2em;
  color: #555;
  font-size: 1.5em;
  transition: background-color 0.2s ease-in-out;
  border-radius: 50%;
}

.contact a:nth-child(1) {
  animation-delay: 2.5s;
}
.contact a:nth-child(2) {
  animation-delay: 2.55s;
}
.contact a:nth-child(3) {
  animation-delay: 2.6s;
}
.contact a:nth-child(4) {
  animation-delay: 2.65s;
}
.contact a:hover {
  color: purple;
}

/* Modal Styles*/

.modal{
  display:none;
  position: fixed;
  z-index:10000;
  left:0;
  top:0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content{
  background-color: #f4f4f4;
  margin: 20% auto;
  padding: 20px;
  width:35%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
}
.closeBtn{
  color: #ccc;
  float: right;
  font-size: 30px;
}
.closeBtn:hover,.closeBtn:focus{
  color:#000;
  text-decoration: none;
  cursor: pointer;

}




/* contact modal styles*/

.contactMeNow {
  padding: 16px;
  font-size: 22px;
  color: black;
  text-align: center;
}

.main-form {
  background: #59a5b8;
  padding: 32px 20px;
}

.form-group{
  position: relative;
  margin-bottom: 28px;
  
}

.gt-input {
  width: 100%;
  height: 48px;
  padding: 0 20px;
  font-size: 20px;
  border: 0;
}

.gt-text{
  padding: 10px 20px;
  height: 100px;
  width: 100%;
}

.gt-input:focus{
  outline: none;
}
label{
  position: absolute;
  font-size: 18px;
  color: #aaa;
  transition: all .4s;
  top:24px;
  transform: translateY(-50%);
  margin-left: 24px;
  cursor: text;
  z-index: 1;
}
.gt-button{
  width: 100%;
  height: 60px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  border: 0;
  color: white;
  background: #00485a;
  transition: .4s;
  cursor: pointer;
}
.gt-button:hover {
  background: #01708b;
}
.form-status {
  padding: 8px;
  text-align: center;
  color: white;
  margin-top: 8px;
  margin-bottom: -24px;
}
.move-up{
  margin-top: -32px;
  margin-left: 0px;
  font-size: 14px;
  background: #ff0000;
  border-radius: 8px 0;
  color: white;
  padding: 4px 8px;
  min-width: 100px;
}



/*contact end */


/*about me*/
.test{
  display: flex;
  justify-content: center;
}
.wrapper{
  margin-top:10%;
}
.wrapper h1{
  font-size:52px;
  margin-bottom: 120px;
  text-align: center;
  border-bottom: 5px solid purple;
  
}

.team{
  display: flex;
  text-align: center;
  width: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.team .team_member{
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;
  position: relative;
}

.team .team_member h3{
  color:#81c644;
  font-size: 26px;
  margin-top: 50px;
}
.team .team_member p.role{
  color:#ccc;
  font-size: 12px;
  text-transform: uppercase;
  margin: 12px 0 ;
}
.team .team_member .team_img{
  width:100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 10px;
}