/**{
    margin: 0;
    padding: 0;
}
.home {
    height: 52rem;
    width: 100vw;
    background-color:red;
    min-height: 52rem;
}

.home-2 {
    height: 100vh;
    width: 100vw;
    background-color:blue;
}

#particles-js{
    height: 100vh;
    background-size:cover;
    position: relative;
    background-position: bottom;
    background-attachment: fixed;
    z-index: -100;
    min-height: 100vh;
    background-color:black;
}
.textwrapper{
    color: white;
}*/
* {
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  font-family: Courier, monospace;
  font-style: normal;
  font-weight: 100;
  color: #202020;
  font-smoothing: antialiased;
}

/*body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}*/
#particles-js {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/image1.jpg");
  background-size: cover;
  height: 52rem;
  width: 100vw;
}
.typing {
  font-size: 50px;
}
/*.typing::after{
    content: "";
    position: absolute;
    right: -5px;
    width: 1px;
    height: 5%;
    border-right: 2px solid white;
    animation: blink 0.5s infinite ease;
}
@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
*/
.myName {
  color: rebeccapurple;
}

.btn {
  color: #fff;
  text-decoration: none;
  border: #ccc 1px solid;
  padding: 10px 15px;
  border-radius: 8px;
  line-height: 4em;
}
.btn:hover {
  color: purple;
  border: #fff 1px solid;
}

.btext {
  color: #f9f3f4;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
  line-height: 3em;
}
.home-2 {
  height: 100vh;
  width: 100vw;
  background-color: blue;
}
/*

.btext h1 {
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
*/

/*contact section*/

.container {
  padding-top: 14vh;
  height: 22rem;
  width: 100vw;

  text-align: center;
  top: 40%;
  width: 100%;
  line-height: 3em;
}
a {
  text-decoration: none;
  color: inherit;
}

h1 a {
  position: relative;
  display: block;
  overflow: hidden;
  width: 1em;
  height: 1em;
  margin: 0 auto;
  background-color: #303132;
  font-size: 3em;
  line-height: 3em;
  color: transparent;
  border-radius: 50%;
  border: 0em solid #39f;
}

h1 a:hover,
h1 a:focus {
  background-color: #39f;
}
h1 a:active {
  transform: scale(0.8);
}

h1 em {
  position: absolute;
  display: block;
  top: 0.5em;
  left: 0.4375em;
  font-size: 0.5em;
  line-height: 1em;
  color: #fff;
}

h1 em:last-child {
  top: 0.5em;
  left: 1em;
}

h2 {
  display: block;
  height: 1.5em;
  margin: 1.5em 0;
  color: #606060;
  line-height: 1.25em;
}

hr {
  position: relative;
  width: 4em;
  height: 1px;
  background: #202020;
  margin: 1em auto;
}
.slogan {
  position: relative;
  display: block;
  overflow: hidden;
  width: 8em;
  height: 1.25em;
  margin: 1em auto;
  font-size: 2em;
  line-height: 1.5em;
  box-sizing: content-box;
  align-content: center;
}

.slogan span {
  display: block;
  width: 8em;
}

.contact {
  position: relative;
  width: 20em;
  margin: -1em auto 1.5em auto;
}

.contact a {
  display: inline-block;
  overflow: hidden;
  width: 2em;
  line-height: 2em;
  margin: 0 0.2em;
  color: #555;
  font-size: 1.5em;
  transition: background-color 0.2s ease-in-out;
  border-radius: 50%;
}

.contact a:nth-child(1) {
  animation-delay: 2.5s;
}
.contact a:nth-child(2) {
  animation-delay: 2.55s;
}
.contact a:nth-child(3) {
  animation-delay: 2.6s;
}
.contact a:nth-child(4) {
  animation-delay: 2.65s;
}
.contact a:hover {
  color: #39f;
}
