:root{
  --pixel-size:6;
}

* {
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;

}
body {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #dde3e6;
  /*font-family: Courier, monospace;*/
  font-family: 'open sans';
  font-style: normal;
  font-weight: 100;
  color: #202020;
  
}

/*body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}*/
html{
  scroll-behavior:smooth;
}
#particles-js {
  /*background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/image1.jpg");*/
  
  /*background: url('./images/jakpost.travel-night-sky-wallpaper-34973.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  background: #252934;
  height: 52rem;
  width: 100vw;
}

.typing {
  font-size: 50px;
}
/*.typing::after{
    content: "";
    position: absolute;
    right: -5px;
    width: 1px;
    height: 5%;
    border-right: 2px solid white;
    animation: blink 0.5s infinite ease;
}
@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
*/
.myName {
  color: #e31b6d;
}

i {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.right:hover {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.btn {
  color: #fff;
  text-decoration: none;
  border: #ccc 2px solid;
  padding: 10px 15px;
  /*border-radius: 8px;*/
  line-height: 4em;
  
}
.btn:hover{
  background-color: #04c2c9;
  border-color: #04c2c9;
}
.btnDiv{
  margin-top: 1rem;
}


.btext {
  color: #f9f3f4;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
  line-height: 3em;
}

/*

.btext h1 {
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
*/

/*contact section*/

.container {
  padding-top: 6vh;
  height: 12rem;
  width: 100vw;
  text-align: center;
  top: 40%;
  width: 100%;
  line-height: 3em;
  font-family: Courier, monospace;
}
/*ScrollUp*/
#topBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 22px;
  width: 50px;
  height: 50px;
  background: #e31b6d;
  color: #fff;
  border: none;
  cursor: pointer;
  display: none;
  z-index: 100000;
  border-radius: 50%;
  
  
}
a {
  text-decoration: none;
  color: inherit;
}

h1 a {
  position: relative;
  display: block;
  overflow: hidden;
  width: 1em;
  height: 1em;
  margin: 0 auto;
  background-color: rgba(27, 36, 47, .8);
  font-size: 3em;
  line-height: 3em;
  color: transparent;
  border-radius: 50%;
  border: 0em solid #50d0c3;
}

h1 a:hover,
h1 a:focus {
  background-color: #50d0c3;
}
h1 a:active {
  transform: scale(0.8);
}

h1 em {
  position: absolute;
  display: block;
  top: 0.5em;
  left: 0.4375em;
  font-size: 0.5em;
  line-height: 1em;
  color: #fff;
}

h1 em:last-child {
  top: 0.5em;
  left: 1em;
}

h2 {
  display: block;
  height: 1.5em;
  margin: 1.5em 0;
  color: rgba(27, 36, 47, .8);
  line-height: 1.25em;
}

hr {
  position: relative;
  width: 4em;
  height: 1px;
  background: #202020;
  margin: 1em auto;
}
.slogan {
  position: relative;
  display: block;
  overflow: hidden;
  width: 8em;
  height: 1.25em;
  margin: 1em auto;
  font-size: 2em;
  line-height: 1.5em;
  box-sizing: content-box;
  align-content: center;
  
}

.slogan span {
  display: block;
  width: 8em;
  
}

.contact {
  position: relative;
  width: 20em;
  margin: -1em auto 1.5em auto;
}

.contact a {
  display: inline-block;
  overflow: hidden;
  width: 2em;
  line-height: 2em;
  margin: 0 0.2em;
  color: rgba(27, 36, 47, .8);
  font-size: 1.5em;
 
  border-radius: 50%;
}

.contact a:nth-child(1) {
  animation-delay: 2.5s;
}
.contact a:nth-child(2) {
  animation-delay: 2.55s;
}
.contact a:nth-child(3) {
  animation-delay: 2.6s;
}
.contact a:nth-child(4) {
  animation-delay: 2.65s;
}
.contact a:hover {
  color: #50d0c3;
}

/* Modal Styles*/

.modal{
  display:none;
  position: fixed;
  z-index:10000;
  left:0;
  top:0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content{
  background-color: #f4f4f4;
  margin: 20% auto;
  padding: 20px;
  width:35%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
}
.closeBtn{
  color: #ccc;
  float: right;
  font-size: 30px;
}
.closeBtn:hover,.closeBtn:focus{
  color:#000;
  text-decoration: none;
  cursor: pointer;

}




/* contact modal styles*/

.contactMeNow {
  padding: 16px;
  font-size: 22px;
  color: black;
  text-align: center;
}

.main-form {
  background: #59a5b8;
  padding: 32px 20px;
}

.form-group{
  position: relative;
  margin-bottom: 28px;
  
}

.gt-input {
  width: 100%;
  height: 48px;
  padding: 0 20px;
  font-size: 20px;
  border: 0;
}

.gt-text{
  padding: 10px 20px;
  height: 100px;
  width: 100%;
}

.gt-input:focus{
  outline: none;
}
label{
  position: absolute;
  font-size: 18px;
  color: #aaa;
  transition: all .4s;
  top:24px;
  transform: translateY(-50%);
  margin-left: 24px;
  cursor: text;
  z-index: 1;
}
.gt-button{
  width: 100%;
  height: 60px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  border: 0;
  color: white;
  background: #00485a;
  transition: .4s;
  cursor: pointer;
}
.gt-button:hover {
  background: #01708b;
}
.form-status {
  padding: 8px;
  text-align: center;
  color: white;
  margin-top: 8px;
  margin-bottom: -24px;
}
.move-up{
  margin-top: -32px;
  margin-left: 0px;
  font-size: 14px;
  background: #ff0000;
  border-radius: 8px 0;
  color: white;
  padding: 4px 8px;
  min-width: 100px;
  
}



/*contact end */


/*about me*/
.test{
  display: flex;
  justify-content: center;
}
.wrapper{
  margin-top:5%;
}
.wrapper h1{
  font-size:42px;
  margin-bottom: 120px;
  text-align: center;
  position: relative;
  padding-bottom:1.5rem;
  font-family: 'Raleway';
  
  font-weight: bold;
}

.bar-header:after {
  content:' ';
  position: absolute;
  top:100%;
  left:50%;
  width: 70px;
  /*border:2px solid #444649;*/
  border:2px solid #04c2c9;
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
  transform:translateX(-50%);

}

.team{
  display: flex;
  text-align: center;
  width: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.team .team_member{
  margin: 15px;
  width: 280px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;
  position: relative;
  background-color: rgba(27, 36, 47, .8);
  
}

.team .team_member h3{
  color: #e31b6d;
  font-size: 26px;
  margin-top: 100px;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: monospace;
}
.team .team_member p.role{
  color: #ccc;
  font-size: 16px;
  margin: 12px 0 ;
}
.role-sub{
  color: #ccc;
}

.team .team_member .team_img{
  width:100px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-70%);
  
}

.fa-html5, .fa-js, .fa-css3 {
  font-size: 6em;
  margin: 2rem;

}
.fa-html5 {
  color: #e54d26;
}
.fa-css3 {
  color: #2163af;
}
.fa-js{
  color: yellow;
}

/*swipper*/
.swiperDiv{
  background: #fff;
  height: 85vh;
  color: #4e5356;
  min-height: 85vh;
  display: none;
}

/*projects container*/
#four{
  background: #fff;
}
.bigProjectContainer{
  height: 140vh!important;
  color: #4e5356;

  
}

.projectsContainer{
  width: 80%;
  color: #4e5356;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.projectsContainer .box {
  position: relative;
  width: 250px;
  height: 250px;

  margin: 10px;
  box-sizing: border-box;
  display: inline-block;
}

.projectsContainer .box .imageBox{
  position: relative;
  overflow: hidden;
}
.projectsContainer .box .imageBox img{
  max-width: 100%;
  height: 250px;
  transition: transform 2s;
}
.projectsContainer .box:hover .imageBox img{
  transform: scale(1.2);
}
.projectsContainer .box .details {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, .8);
  transform: scaleY(0);
  transition: transform .5s;
}
.projectsContainer .box:hover .details{
  transform: scaleY(1);

}

.projectsContainer .box .details .content{
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  text-align: center;
  padding: 1px;
  color: #fff;
}
.projectsContainer .box .details .content h2{
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #04c2c9;
}
.projectsContainer .box .details .content p{
  margin: 4px 0 0;
  padding: 4px;
  font-size: 13px;
  
}
.projectsContainer .box .details .content a{
  background-color: #e31b6d;
  border-radius: 25px;
  margin: 0px auto;
  padding: 3px;
  position: absolute;
  left: 28%;
  
}



/*End project container */

@media screen and (max-width:768px){
  .swiperDiv{
    display: block;
  }
  .bigProjectContainer{
    display: none;
  }
}

/*Filter projects*/
.filterBtn{
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding-bottom: 10px;
  font-size: 1.5rem;
}
.filterBtn a{
  padding: 0 20px;
}
.filterBtn a.active{
  color: #e31b6d;;
}

/*end filter*/


/*
.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  background: #4e5356;
}*/
.swiper-container {
  width: 60%;
  padding-top: 10px;
  padding-bottom: 40px;

}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 280px;
  height: 320px;
  background: #252934;
}
.swiper-slide .imgBx{
    width: 100%;
    height: 80%;
    overflow: hidden;
   
}
.swiper-slide .imgBx img{
    width: 100%;
    height: 100%;
}
.swiper-slide .details {
    box-sizing: border-box;
    padding: 0;
    padding-top: 10px;
}
.swiper-slide .details h4{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: white;
    text-align: center;
    line-height: 20px;
}
.swiper-slide .details h4 span {
    font-size: 16px;
    color: #e31b6d;
}







.projects{
  display: flex;
  justify-content: center;
  padding-top: 5%;
}
.projects h1{
  font-size:42px;
  margin-bottom: 50px;
  text-align: center;
  position: relative;
  padding-bottom:1.5rem;
  font-family: 'Raleway';
  font-weight: 1000rem;
  font-weight: bold;
}

  


.projects-bar:after {
  content:' ';
  position: absolute;
  top:100%;
  left:50%;
  width: 70px;
  border:2px solid #04c2c9;
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
  transform:translateX(-50%);

}

/* media queries nav 796
@media(max-width: 576px){
  .typing {
    font-size: 2rem !important;
  }
  #two {
    height: 90rem !important;
  }
  #three{
    height: 120vh !important;
  }
}*/



/*Sprit*/
#three{
  background: #dde3e6;
  padding-top: 50px;
  height: 20rem;
  min-height: 20rem;
  
}
.character{
  width: calc(32px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
  overflow: hidden;
  position: relative;
  margin: 0 auto;

}
.characterSprite{
  animation: moveSpriteSheet 1s steps(4) infinite;
  width: calc(128px * var(--pixel-size));
  position: absolute;
}
.pixelart{
  image-rendering: pixelated;
}
.characterShadow{
  position: absolute;
  width: calc(32px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
}
.faceRight{
  top: calc(-32px * var(--pixel-size));
}
.faceUp{
  top: calc(-64px * var(--pixel-size));
}
.faceLeft{
  top: calc(-96px * var(--pixel-size));
}
@keyframes moveSpriteSheet {
  from{
    transform: translate3d(0px,0,0)
  }
  to{
    transform: translate3d(-100%,0,0);
  }
}

/*End*/

.role-container-js{
  display: flex;
  justify-content: center;
  flex-direction: column;
}


/*text bubble*/
.speech{
  margin: 0 auto;
  width: 30%;
  height: 30%;
  min-width:15rem;
  position: relative;
}
.speaking h4{
  color: #ccc;
  font-family: monospace;
  padding: .5rem;
}
.speech-bubble {
position: absolute;
background: #04c2c9;
border-radius: .4em;
/*left: -218%!important;
top:-1rem!important;*/
height: 4.5rem;
width:12rem;
top: -250%;
left: 42%;
}
/*
.total{
  margin-left: 20%!important;
}*/

.speech-bubble:after {
content: '';
position: absolute;
bottom: 0;
left: 50%;
width: 0;
height: 0;
border: 20px solid transparent;
border-top-color: #04c2c9;
border-bottom: 0;
border-left: 0;
margin-left: -26px;
margin-bottom: -20px;
}
/*text bubble end*/
.reactJ{
  color:#04c2c9;
}
.vue{
  color:#41b883;
  
}
.query{
  color: #4169e1;
}
.bootStrap{
  color: #7a43b6;
}
.sass{
  color: #cd6799;
}
.scss{
  color: pink;
 
}


/*me*/

.yo{
  display: flex;
  text-align: center;
  width: auto;
  justify-content: center;
  flex-wrap: wrap;
}
  
.team_memberMe{


  top: -9rem;
  font-size: 16px;
  margin: 15px 0;
  width: 680px;
  padding: 20px;
  line-height: 30px;
  color: #8e8b8b;
  position: relative;
  font-weight: bolder;
  /*background-color: rgba(27, 36, 47, .8);*/
}

.team_memberMe h3{
  color:#e31b6d;
  font-size: 36px;
  margin-top: 50px;
  font-weight: bold;
  font-family: monospace;
  
}
.team_memberMe p.roleMe{
  color:#e31b6d;
  font-size: 26px;
  text-transform: uppercase;
  margin: 12px 0 ;
  font-weight: bold;
  font-family: monospace;
}
.team_memberMe .team_imgMe{
  width:150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: 205px;
  left: 50%;
  transform: translateX(-50%);
  
}

.team_memberMe .team_imgMe img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  
  background: #04c2c9;
}
/*me end*/


/*
@media(max-width:1057px) {
  section{
    height: 85rem!important;
    min-height: 85rem!important;
  }
      .typing {
        font-size: 2rem !important;
      }
}
@media(max-width:768px) {
  section{
    height: 85rem!important;
    min-height: 85rem!important;
  }
  .typing {
    font-size: 2rem !important;
  }
}
@media(max-width:747px){


  .team_memberMe .team_imgMe{
    top: 190px;
  }

}
@media(max-width:558px){
  section{
    height: 110rem!important;
    min-height: 110rem!important;
  }
  .team_memberMe .team_imgMe{
    top: 270px;
  }
}
@media (max-width:471px){
  

}
@media (max-width:436px){
  section{
    height: 117rem!important;
    min-height: 117rem!important;
  }
  .team_memberMe .team_imgMe{
    top: 282px;
    left: 40%;
  }
 
  .team_memberMe .team_imgMe{
    width:100px;
    height: 100px;  
  }
  .team_memberMe{
    font-size: 14px;
  }
}
@media(max-width:386px){
  .team_memberMe .team_imgMe{
    top: 369px;
  
  }
  section{
    height: 130rem!important;
    min-height: 130rem!important;
  }
}
*/
@media(max-width:1057px){
  section{
    height: 81rem!important;
    min-height: 81rem!important;
  }
}

@media(max-width:782px){
  section{
    height: 85rem!important;
    min-height: 85rem!important;
  }
  .typing {
    font-size: 2rem !important;
  }
  .team_memberMe .team_imgMe{
    top: 235px;
  }
}
@media(max-width:782px){
  section{
    height: 105rem!important;
    min-height: 105rem!important;
  }
  .team_memberMe{

    font-size: 14px;
  }
  .team_memberMe .team_imgMe{
    top: 220px;
  }
 
}
@media(max-width:601px){
  .team_memberMe .team_imgMe{
    top: 265px;
  }
  .team_memberMe p.roleMe{
    font-family: monospace!important;
    font-size: 20px;
   
  }
}
@media(max-width:537px){
  .team_memberMe .team_imgMe{
    top: 295px;
  }
}
@media(max-width:460px){
  .team_memberMe .team_imgMe{
    top: 275px;
  }
  .team_memberMe p.roleMe{
  
    font-size: 17px;
   
  }
  .team_memberMe{

    font-size: 10px;
  }
 
}
@media(max-width:429px){
  section{
    height: 108rem!important;
    min-height: 108rem!important;
  }
  .team_memberMe .team_imgMe{
    top: 315px;
  }
}
@media(max-width:400px){
  section{
    height: 110rem!important;
    min-height: 110rem!important;
  }
  .team_memberMe .team_imgMe{
    top: 320px;
  }
}
@media(max-width:400px){
  section{
    height: 113rem!important;
    min-height: 113rem!important;
  }
  .team_memberMe .team_imgMe{
    top: 350px;
  }
}
